html, body, #root, .App {
  height: 100%;
}

.App {
  background-color: #386641;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.App img {
  height: 40vmin;
  min-height: 200px;
  
}

button {
  background-color: #a7c957 !important;
  border: none !important;
  text-transform: uppercase !important;
  width: 100%;
}

.form-range {
  color: #a7c957 !important;
}

.container {
  min-width: 300px;
}

.form-range::-webkit-slider-thumb {
  background: #a7c957 !important;
}

.centered-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}